.my-snack-container,
.my-snack-container > div {
  align-items: center;
}

.snack-success {
  color: #ffffff;
  background-color: #0d9e62;
  border-radius: 50%;
  margin-right: 14px;
}

.spacer {
  width: 100%;
}
